/*Custome variables*/
:root{
	--clr-primary-100: #f1f1f1;
	--clr-primary-200: #d0e9ed;
    --clr-primary-300: #dddde8;
	--clr-primary-500: #0c4c8a;
	--clr-primary-900: #4d4d4d;
 	--crl--neutral-100: #fff;

	--ff-primary: 'Poiret One', cursive;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
@import url(https://fonts.googleapis.com/css?family=Poiret+One);
body{
	line-height: 1.5;
	color: var(--clr-primary-900);
    text-align: justify;
    font-family: var(--ff-primary); 
}
body,
h1, 
h2,
p {
    margin: 0;
}
h1, h2, h3 {
    color: var(--clr-primary-900);
    font-family: var(--ff-primary);
    font-weight: 900;
    line-height: 1;
}
h2, p {
    margin-bottom: 1em;
}
header,
section{
    padding: 4rem 0;
}

@media (min-width: 40em){

}
/*
HEADER
*/
header{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 100%;
	background-color: var(--clr-primary-200);

}
header h1{
	text-align: center;
}
/*
LED_CONTROL
*/
section{
	width: 100%;
}
#led_control{
	display: flex;
	flex-direction: column;
	padding: 0 0;
	background-color: var(--clr-primary-300);
	/*#94B6C6*/
	padding: 10px 0;
	align-items: center;
}
#led{

	width: 169px;
	height: 222px;
}
/*
BUTTON
*/
#on_off{
	border: none;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	font-weight: 900;
	background-color: var(--clr-primary-500);
	color: var(--crl--neutral-100);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*
ABOUT
*/
#about{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-color: var(--clr-primary-200);
}
#about h2{
	text-align: center;
	font-weight: 900;
	font-size: 1.5em;
}
#about p{
	width: 80%;
	font-size: 1.0em;
	margin-right: auto;
	margin-left: auto;
	font-weight: 600;
}
#about a{
	color: #0c4c8a;
}
/*
FOOTER
*/
footer{
	background-color: var(--clr-primary-900);
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: var(--clr-primary-100);
}
footer p{
	color: var(--clr-primary-100);
	font-weight: 700;
}
footer ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	text-align: center;
}
footer li{
	text-align: center;
	list-style: none;
	width: 50%;
}
footer a{
	text-decoration: none;
	color: var(--clr-primary-100);
}

/*
MEDIA QUERIES
*/
@media screen and (min-width: 768px){
	#on_off{
		width: 15%;
	}
	footer{
		flex-direction: row;
		padding: 0 300px;
	}
	footer ul{
		width: 50%;
		padding: 0 0;
	}
	footer p{
		width: 50%;
	}
	footer li{
		padding: 0 0;
	}
}